* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    max-width: 120rem;
}



#game {
    background-image: url(../assets/img/gameThemePortfolio.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}